@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}
<div class="jumbotron">
</div>


<p>Delivery in Tallinn/Harjumaa, Tartu and pärnu.

In Tallinn/Harjumaa, Tartu and pärnu the goods are delivered to Your home by transport of furniture company Asko.

Upon receipt of the goods to the warehouse You will receive an SMS message, which specifies the time of home delivery. If the proposed time Does not suit you, please contact the appropriate store. The goods will be delivered to Your room.

The delivery cost is 30 euros, includes a fee for the floors of the apartment building.

The goods and the delivery should be 100% paid prior to delivery of the goods from the warehouse.



Outside Harju County

Other areas of Estonia – viaexpress courier

In other regions of Estonia the ordered goods will be delivered to You by viaexpress courier service, delivery is carried out from Monday to Friday from 10:00 to 17:00 hours.

Upon receipt of the goods to the warehouse You will receive an SMS message. If the goods and their delivery are fully paid for, they will be transferred to ViaExpress courier service, which will contact You within 2-3 working days.

The cost of delivery is 30€, the courier will deliver the goods to the outside door of Your home. Please return the shipping pallet to the courier!
</p>
<h4>NB! Cargo is not transported to Kihnu, Ruhnu, Prangli and other small islands.</h4>
