@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
</div>
<h3>Contacts:</h3>

<address>
    Peterburi tee, 50c<br />
    Tallinn, 11415<br />
    <abbr title="Phone">P:</abbr>
    (+372) 680 5560
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>