
@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
</div>


<h2>How to make a purchase</h2>
<p>
View product
• On the product page, you can read the terms of purchase in installments and calculate the approximate amount of the monthly payment.
• Once a suitable product is found, if necessary, select its finish (for example, color, desired tone).
• Then add the item to your cart.

Shopping cart
To proceed, click on the "shopping Cart" button located in the header of the page.
By clicking on the "View cart" button, you can change the number of items ordered (default 1 piece) or remove them from the cart.
If you want to add products, then go back to the online store page, you can select other products. To place an order on the shopping Cart page, click on the "Checkout"button.
A window will open where you need to fill in the data fields and specify the address. If you check the box "Buy as company", a new field will open where you can enter the company data.
By default, the " delivery to the same address "field is checked. If you want the goods to be delivered to another address, uncheck the box.

Addresses
Choose the delivery method: whether you want to pick up the order yourself from your chosen warehouse, or you want to order the delivery of goods by courier. Read more.
Transport throughout Estonia — 39 euros, more
Transport and disposal — 78 euros, more
Pick up yourself — select the appropriate warehouse where you would like to pick up the goods.
Go further on the "Confirm shipping method" button»

Payment
Payment by installments – ASKO
Payment methods: "Swedbank", "SEB", "LHV", "PocoPay", "Visa", "MasterCard", "Maestro".
Then click "Checkout»
In the Payment section, you can check your previously selected payment method. If you have chosen a Bank payment, then the next step is to review all the data you have specified and after the purchase you will be redirected to the page of the relevant Bank to make a payment. The field of how the payment will be made, the invoice of the payment will be sent to your e-mail address. If you choose to pay for the lease, you must fill in the opened application form for leasing and wait until the Bank employee will consider it.
You must agree to the Terms of sale and after clicking on the "Pay" button you will be redirected to the online Bank to pay the bill.</p>

